body {
    --menu-background: #fff;
    --background-color: #f2f2f2;
    --text-color: #666;
    --font-family: 'Josefin Sans', sans-serif;
    --box-background: #fff;
    --box-footer: rgba(255, 255, 255, .5);
    --light-background: #5e6165;
    --special-color: #2196F3
}

body.theme-dark {
    --menu-background: #1f1f1f;
    --background-color: #36393f;
    --text-color: #fff;
    --font-family: 'Josefin Sans', sans-serif;
    --box-background: #2c2f33;
    --box-footer: rgba(255, 255, 255, 0.2);
    --light-background: #5e6165;
    --special-color: #2196F3
}


/* remove ads */

.billboard {
    display: none!important;
}


/* Left menu position */

#container>div.drawer:first-child {
    left: 0;
    z-index: 100;
}


/* Custom scrollbar  */

body::-webkit-scrollbar,
.post-container::-webkit-scrollbar {
    width: 18px;
    display: block;
}

body::-webkit-scrollbar-track,
.post-container::-webkit-scrollbar-track {
    background: transparent
}

body::-webkit-scrollbar-thumb,
.post-container::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
    background: #919191;
    border-radius: 10px;
    background-clip: padding-box;
    min-height: 80px
}


/* Theme */

body {
    font-family: var(--font-family)!important;
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
}

body #top-nav {
    border: none!important;
}

body.theme-dark #top-nav {
    background-color: var(--menu-background)!important;
}

body .sticky-navbar {
    background-color: transparent!important;
    display: table!important;
    border-spacing: 5px;
    padding: 0!important;
    width: calc(100% + 10px)!important;
    margin-left: -5px!important;
}


/* body.theme-dark .sticky-navbar {
    background-color: transparent!important;
    display: table!important;
    border-spacing: 5px;
    padding: 0!important;
    width: calc(100% + 10px)!important;
    margin-left: -5px!important;
} */

body .sticky-navbar a {
    display: table-cell!important;
    border-radius: 3px!important;
    text-transform: uppercase!important;
    border: none!important;
    height: auto!important;
    width: 1%;
}

body.theme-dark .sticky-navbar a.selected {
    color: var(--text-color)!important;
    background-color: var(--light-background)!important;
}

button {
    font-family: var(--font-family)!important;
}

.featured-tag a {
    flex-grow: 1;
    background-color: var(--box-footer)!important
}

.drawer .drawer-container {
    background-color: var(--menu-background)!important;
}

#container {
    padding: 50px 0 0!important;
}

#container.drawer #page {
    margin-left: auto!important;
}

.main-wrap {
    float: none!important;
    width: 100%!important;
}

.sticky-navbar a.selected {
    background-color: var(--special-color) !important;
}

section#list-view-2 .list-stream:first-child article:first-child,
section#list-view-2 article {
    position: relative!important;
    border: none!important;
    background-color: var(--box-background)!important;
    padding: 0!important;
    min-height: 70vh!important;
    max-height: calc(100vh - 120px)!important;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

section#list-view-2 h1 {
    line-height: 1.2;
}

section#list-view-2 .post-container {
    width: auto!important;
    height: calc(100% - 100px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0!important;
    flex-grow: 1;
}

section#list-view-2 .post-text-container {
    padding: 0 20px;
}

section#list-view-2 .post-container .post-container {
    display: block!important;
}

section#list-view-2 header {
    margin: 0!important;
    padding: 20px;
    border-bottom: 1px solid var(--background-color);
}

section#individual-post .post-section,
section#list-view-2 .post-section {
    float: right;
    margin: 0!important;
}

section#list-view-2 .post-container a,
section#list-view-2 .post-container div.badge-track {
    display: block;
    width: auto!important;
    height: auto!important;
    max-height: 80%!important;
    padding: 0!important;
    overflow: auto;
}

video {
    width: auto!important;
    height: auto!important;
    max-height: 80%!important;
    max-width: 100%!important;
    min-height: 500px!important;
}

section#list-view-2 .post-container a img,
section#list-view-2 .post-container a video {
    display: block!important;
    width: auto!important;
    margin: 20px auto!important;
}

.video-post .sound-toggle,
.youtube-post .sound-toggle {
    display: none;
}

.post-afterbar-a.in-list-view {
    position: relative;
    left: 0;
    width: 100%!important;
    bottom: 0;
    background-color: var(--box-footer)!important;
    padding: 12px 20px;
    box-sizing: border-box;
    border-top: 1px solid var(--background-color);
}

.theme-dark .post-afterbar-a.in-list-view {
    border-top: none;
}

.post-afterbar-a.in-list-view>.btn-vote.left {
    margin-right: 10px;
}

.btn-vote li {
    margin: 0!important;
}

.popup-menu.listview-share {
    top: auto!important;
    bottom: 60px!important;
    left: 200px!important;
}

.popup-menu ul {
    box-shadow: none!important;
    border-radius: 3px;
}

body.theme-dark .popup-menu ul {
    background-color: var(--menu-background)!important;
}

.video-post p.length,
.youtube-post p.length {
    display: none!important
}

.btn-vote a {
    border-radius: 50%!important;
    width: 34px!important;
    height: 34px!important;
    border: none!important;
    transition: background-color 0.3s cubic-bezier(.77, .2, .05, 1);
}

.btn-vote a:hover {
    background-color: var(--box-background);
}

.post-read-more {
    width: 100%!important;
    border-radius: 3px;
}

body .btn-vote a {
    position: relative;
}

.btn-vote {
    overflow: visible!important;
}

.votesnumber {
    position: absolute!important;
    width: 100%!important;
    margin: 0!important;
    float: none!important;
}

.tooltipnumber {
    position: absolute;
    color: #666;
    z-index: 5;
    text-indent: initial;
    top: -8px;
    right: 0;
    left: 0;
    text-align: center;
    line-height: normal;
    border-radius: 2px;
    font-size: 12px;
    padding: 1px 3px;
    width: calc(100% - 6px);
    transition: all 0.2s cubic-bezier(.77, .2, .05, 1);
}

.theme-dark .tooltipnumber {
    color: #ccc;
}

.btn-vote:hover .tooltipnumber {
    font-size: 17px;
    top: -30px;
    padding: 3px;
    background-color: var(--special-color)!important;
    color: #fff;
    width: calc(100% + 4px);
    left: -5px;
}

.post-meta {
    display: none;
}

.btn-vote.left {
    position: relative;
}

.user-function .btn-primary,
.visitor-function .btn-primary {
    border-radius: 3px!important;
    background-color: var(--special-color)!important;
}

.vi-stories-player-container {
    height: auto!important;
}


/* Left menu */

#container>.drawer:first-child {
    width: 56px!important;
}

#container>.drawer:first-child .drawer-container h3 {
    text-indent: -300px;
    position: relative;
}

#container>.drawer:first-child .drawer-container h3::before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    top: 16px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.theme-dark #container>.drawer:first-child .drawer-container h3::before {
    background-color: rgba(255, 255, 255, 0.2);
}

#container>.drawer:first-child .drawer-container .label {
    text-indent: -300px;
}

#container>.drawer:first-child .drawer-container .star,
#container>.drawer:first-child .drawer-container .button {
    display: none!important;
}

#container>.drawer:first-child .drawer-container .static {
    display: none!important;
}

#container>.drawer:first-child:hover {
    width: 240px!important;
}

#container>.drawer:first-child:hover h3 {
    text-indent: 0;
}

#container>.drawer:first-child:hover h3::before {
    display: none;
}

#container>.drawer:first-child:hover .label {
    text-indent: 0;
}

#container>.drawer:first-child:hover .star,
#container>.drawer:first-child:hover .button {
    display: block!important;
}

#container>.drawer:first-child:hover .static {
    display: block!important;
}


/* Volume icon */

.icon-volume {
    width: 0;
    height: 0;
    border: 7px solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    padding: 6px 3px;
    box-shadow: inset 4px 0;
    margin: 0 0 0 -8px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
}

.icon-volume.open::before {
    content: "";
    border-style: double;
    border-width: 6px;
    left: -2px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    top: 50%;
    transform: translateY(-50%);
}

.icon-volume.mute::before,
.icon-volume.mute::after {
    content: "";
    transform: translateY(-50%) rotate(45deg);
    position: absolute;
    top: 50%;
    box-shadow: inset 0 0 0 32px;
}

.icon-volume.mute::before {
    width: 10px;
    height: 2px;
    left: 17px;
}

.icon-volume.mute::after {
    height: 10px;
    width: 2px;
    left: 21px;
}


/* Post detail page */

.post-afterbar-a.in-post-top {
    width: calc(100% - 20px)!important;
}

body .post-afterbar-a.in-post-top {
    border-radius: 3px 3px 0 0;
    padding: 10px!important;
}

body.theme-dark .post-afterbar-a.in-post-top {
    background-color: var(--menu-background)!important;
}

.share {
    margin-left: 10px;
}

.post-afterbar-a.in-post-bot.full-width {
    display: none!important;
}

article.post-page .post-container a {
    margin: 0 auto;
}

article.post-page .post-container {
    background-color: var(--box-background);
    padding: 20px;
    border-radius: 0 0 3px 3px;
}

.comment_system_module,
.comment-tab-bar_action {
    font-family: var(--font-family)!important;
    font-size: 14px;
}

.comment-composer {
    width: 100%!important;
    margin: 0 0 20px!important;
}

.comment-list-item {
    background-color: #fff;
    margin: 5px 0;
    border-radius: 3px;
    padding: 10px;
}

.theme-dark .comment-list-item {
    background-color: rgba(255, 255, 255, 0.1);
}

article.post-page .post-container a {
    width: auto!important
}

.comment_system__comment-composer {
    background-color: var(--box-background);
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0!important;
    border-radius: 3px;
}

.theme-dark .comment_system__comment-composer {
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

#navigate {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#navigate>div {
    position: relative;
    line-height: 60px;
    font-size: 20px;
    background-color: var(--special-color);
    border: none;
    width: 60px;
    height: 60px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.theme-dark #navigate>div {
    background-color: rgba(255, 255, 255, 0.2);
}

#navigate>div:hover {
    box-shadow: 0 0 5px var(--special-color);
}

.theme-dark #navigate>div:hover {
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

#navigate>div:not(:last-child) {
    margin-bottom: 10px;
}

.video-post span.play,
.youtube-post span.play {
    display: none;
}

.fixed-wrap-post-bar {
    width: 100%!important;
    position: sticky!important;
}

#individual-post .btn-vote a {
    overflow: hidden;
}

#individual-post .post-meta {
    display: block!important;
}


/* Profile picture viewer */

#profileimg {
    position: fixed;
    background-color: var(--menu-background);
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    padding: 15px;
    min-height: 200px;
    min-width: 200px;
}

#profileimg:hover {
    display: block!important;
    opacity: 1!important;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) #ffffff;
    border-style: solid;
    border-width: 5px;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#profileimg .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
}

.userbigimg {
    display: block;
    max-width: 800px;
    min-width: 500px;
    height: auto;
}


/* article.active {
    outline: 2px solid #ff0;
} */